<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<style>
 td#profile {
  padding: 2.5%;
  width:40%;
  max-width:40%;
 }
 td#intro {
  padding: 2.5%;
  width:60%;
  max-width:60%;
  vertical-align: middle;
 }
td#post-image {
  padding:1.0%;
  width:25%;
  vertical-align:middle;
  text-align:middle;
  /*min-width:120px;*/
}
td#post {
  padding:2.5%;
  width:75%;
  vertical-align:middle;
}
@media only screen and (max-width: 640px) {
 td#profile {
  padding: 3.5%;
  width:100%;
  max-width:100%;
  display: block;
 }
 td#intro {
  padding: 3.5%;
  width:98%;
  max-width:100%;
  display: block;
 }
td#post-image {
  padding:2.5%;
  width:90%;
  vertical-align:middle;
  display: block;
}
td#post {
  padding:2.5%;
  width:95%;
  vertical-align:middle;
  display: block;
}
}
</style>
</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td id="intro">
              <p>
                <name>Xiaocheng Tang</name><br>
                <name>唐小程</name><br>
                Staff Research Scientist, Machine Learning Lead<br>
                DiDi AI Labs, Mountain View, CA<br>
                xiaochengtang at didiglobal dot com
              </p>
              <p>
                Xiaocheng works at the intersection of machine learning, reinforcement learning, optimization, and operation research at <a href="https://sourl.cn/Kg37kB">DiDi AI Labs</a>. He has published 20+ top-conference, patents and journal papers in the field. Additionally, his work on joint optimization of order dispatching and reposition via reinforcement learning won <a href="https://sourl.cn/YP7duv">Best Demo Awards</a> at NeurIPS 2018. He and his team received <a href="https://sourl.cn/XcPd8F">Daniel H. Wagner prize</a> for Excellence in Operations Research practice at INFORMS 2019. His </a href="https://sourl.cn/FU3zMp">work on AutoML</a> in collaboration with UCLA won <a href="https://sourl.cn/pv4WLB"> Outstanding Paper Awards</a> at ICLR 2021.
              </p>
              <p>
                Xiaocheng is also an <a href="https://incubator.apache.org/projects/madlib.html">Apache Committer</a> contributing to <a href="https://sourl.cn/L4PC9y">Apache MADlib</a> — a distributed in-database machine learning library. He received his PhD degrees in Optimization and Machine Learning advised by Prof. <a href="https://sourl.cn/bEEr3f">Katya Scheinberg</a>. During his graduate study, he has been actively engaged in analyzing and designing novel optimization theories and algorithms for large-scale problems arising from various applications and in particular those in Artificial Intelligence. His work in fast and scalable training algorithms and convergence theory was presented at <a href="https://sourl.cn/6YmND4">NIPS 2013</a> and was accepted as a <a href="https://sourl.cn/udnn7G">journal paper</a> by <a href="https://sourl.cn/LYFp8G"> Mathematical Programming</a>.
              </p>
              <p>
                He used to work in Numerical Methods group in <a href="https://sourl.cn/saukjj">IBM T.J. Watson Research</a>, Yorktown Heights, NY, and was funded by Yahoo FREP award working on online AD targeting and user personalization in Machine Learning group in Yahoo Labs, Sunnyvale, CA in 2014. He earned his undergrad degree with High Honors from <a href="https://sourl.cn/uUhybh">Chu KoChen Honors College</a> in <a href="https://sourl.cn/hqynw9">Zhejiang University</a>, Hangzhou, China .
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/bGHFw"> Email</a> &nbsp;/&nbsp;
                <a href="https://sourl.cn/ABTxA2">GitHub</a> &nbsp;/&nbsp;
                <a href="https://sourl.cn/RUXE2C">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://sourl.cn/RBtjvF"> LinkedIn </a>
              </p>
            </td>
            <td id="profile">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/xct_profile3.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in reinforcement learning, machine learning, optimization and operation research. Representative papers are <span class="highlight">highlighted</span>.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}

          {% if post.highlight %}
          <tr bgcolor="#ffffd0">
          {% else %}
          <tr>
          {% endif %}
            <td id="post-image">
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px"> -->
              <!-- <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
              <img src="/tn{{post.image}}", style="width:100%;height:auto;">
            </td>
            <td id="post">
            <!-- <td style="padding:2.5%;width:75%;vertical-align:middle"> -->
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
            <tbody><tr>
              <td>
              <br>
              <p align="right"><font size="2">
                <a href="https://sourl.cn/TYRu4G">This guy makes a nice webpage.</a>
                </font>
              </p>
              </td>
            </tr>
        </tbody></table>
      </td>
    </tr>
  </table>

{% include analytics.html %}
</body>

</html>

